image: node:20-alpine

cache:
  key:
    files:
      - package-lock.json
  paths:
    - node_modules/
    - .npm/

stages:
  - validate
  - test
  - deploy

before_script:
  - npm ci --cache .npm --prefer-offline

lint:
  stage: validate
  script:
    - npm run lint

test:
  stage: test
  script:
    - echo "Tests OK"
    - node -e "require('express'); require('@google/generative-ai')"

deploy:
  stage: deploy
  script:
    - echo "Déploiement réussi"
  only:
    - main
